<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>clinicaveterinaria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <session-config>
	<session-timeout>3</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteAdd</display-name>
    <servlet-name>ClienteAdd</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ClienteAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteAdd</servlet-name>
    <url-pattern>/ClienteAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnimalAdd</display-name>
    <servlet-name>AnimalAdd</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.AnimalAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalAdd</servlet-name>
    <url-pattern>/AnimalAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeterinarioAdd</display-name>
    <servlet-name>VeterinarioAdd</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.VeterinarioAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeterinarioAdd</servlet-name>
    <url-pattern>/VeterinarioAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaAdd</display-name>
    <servlet-name>ConsultaAdd</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ConsultaAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaAdd</servlet-name>
    <url-pattern>/ConsultaAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnimalAlterar</display-name>
    <servlet-name>AnimalAlterar</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.AnimalAlterar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalAlterar</servlet-name>
    <url-pattern>/AnimalAlterar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnimalExcluir</display-name>
    <servlet-name>AnimalExcluir</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.AnimalExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalExcluir</servlet-name>
    <url-pattern>/AnimalExcluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteAlterar</display-name>
    <servlet-name>ClienteAlterar</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ClienteAlterar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteAlterar</servlet-name>
    <url-pattern>/ClienteAlterar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteExcluir</display-name>
    <servlet-name>ClienteExcluir</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ClienteExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteExcluir</servlet-name>
    <url-pattern>/ClienteExcluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaAlterar</display-name>
    <servlet-name>ConsultaAlterar</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ConsultaAlterar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaAlterar</servlet-name>
    <url-pattern>/ConsultaAlterar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaExcluir</display-name>
    <servlet-name>ConsultaExcluir</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ConsultaExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaExcluir</servlet-name>
    <url-pattern>/ConsultaExcluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeterinarioAlterar</display-name>
    <servlet-name>VeterinarioAlterar</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.VeterinarioAlterar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeterinarioAlterar</servlet-name>
    <url-pattern>/VeterinarioAlterar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeterinarioExcluir</display-name>
    <servlet-name>VeterinarioExcluir</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.VeterinarioExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeterinarioExcluir</servlet-name>
    <url-pattern>/VeterinarioExcluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnimalListar</display-name>
    <servlet-name>AnimalListar</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.AnimalListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalListar</servlet-name>
    <url-pattern>/AnimalListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteListar</display-name>
    <servlet-name>ClienteListar</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ClienteListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteListar</servlet-name>
    <url-pattern>/ClienteListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaListar</display-name>
    <servlet-name>ConsultaListar</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ConsultaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaListar</servlet-name>
    <url-pattern>/ConsultaListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeterinarioListar</display-name>
    <servlet-name>VeterinarioListar</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.VeterinarioListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeterinarioListar</servlet-name>
    <url-pattern>/VeterinarioListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnimalPrepara</display-name>
    <servlet-name>AnimalPrepara</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.AnimalPrepara</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalPrepara</servlet-name>
    <url-pattern>/AnimalPrepara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientePrepara</display-name>
    <servlet-name>ClientePrepara</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ClientePrepara</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientePrepara</servlet-name>
    <url-pattern>/ClientePrepara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaPrepara</display-name>
    <servlet-name>ConsultaPrepara</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ConsultaPrepara</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaPrepara</servlet-name>
    <url-pattern>/ConsultaPrepara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeterinarioPrepara</display-name>
    <servlet-name>VeterinarioPrepara</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.VeterinarioPrepara</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeterinarioPrepara</servlet-name>
    <url-pattern>/VeterinarioPrepara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarAnimalVeterinario</display-name>
    <servlet-name>ListarAnimalVeterinario</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.ListarAnimalVeterinario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarAnimalVeterinario</servlet-name>
    <url-pattern>/ListarAnimalVeterinario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministradorAdd</display-name>
    <servlet-name>AdministradorAdd</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.AdministradorAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministradorAdd</servlet-name>
    <url-pattern>/AdministradorAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministradorLogar</display-name>
    <servlet-name>AdministradorLogar</servlet-name>
    <servlet-class>br.cefet.clinicaveterinaria.controller.AdministradorLogar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministradorLogar</servlet-name>
    <url-pattern>/AdministradorLogar</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroEntrada</display-name>
    <filter-name>FiltroEntrada</filter-name>
    <filter-class>br.cefet.clinicaveterinaria.filtro.FiltroEntrada</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroEntrada</filter-name>
    <url-pattern>/FiltroEntrada</url-pattern>
  </filter-mapping>
</web-app>